* {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height:100vh;
}
.header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    justify-content: center;
    grid-row: 1;
    grid-column: 2/5;
}
.buttons {
    color:white;
    background-color: blue;
    border-radius: 20px;
    justify-items: end;
   justify-content: center;
}

/* Side Bar Content, added a hover effect to the buttons. Different color used for .admin */
.sidebar {
    font-weight: bold;
    color: white;
    display: grid;
    grid-row: 1 / 4;
    grid-column-start: 1;
    gap: 20px;
    background-color: rgb(40, 182, 230);
}

button {
    border: none;
    border-radius: 10px;
}

button:hover {
background-color: orange;
color: white;
}

.nav,
.admin {
    background-color: rgb(40, 182, 230);
    color: white;
    font-weight: bold;
}

.admin:hover {
    background-color: rgb(180, 222, 26);
    color: whitesmoke;
}
/* Main Body of Dashboard  */
.title {
    font-size: 18px;
    font-weight: bolder;
}
.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 2/5;
    background-color: antiquewhite;
    gap: 15px;
}
 .cards {
    height: 200px;
    border: 1px solid black;
    margin-left: 10px;   
}

.cards:hover {
    transition: transform .2s; /*Animation*/
    transform: scale(1.1);
}

.subheader1 {
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    display: grid;
    grid-column: span 2;
    justify-content: start;
}
.subheader2{
    font-size: 18px;
    font-weight: bold;
display: grid;
grid-column: 3/4;
grid-row: 1/ 3;
}

.subheader3{
    font-size: 18px;
    font-weight: bold;
    display: grid;
    grid-column: 3/4;
    grid-row: 3/4;
}

.content,
.trending {
    font-weight: 400;
}
